:root{
    --theme-primary: #2198F3;
    --theme-secondary: #6c757d;
    --theme-success: #52bf11;
    --theme-info: #BB1BF4;
    --theme-warning: #FF9A13;
    --theme-danger: #FC1349;
    --theme-light: #fff;
    --theme-dark: #434a51;
    --theme-primary-50: #9ad0fa;
    --theme-primary-100: #82c5f8;
    --theme-primary-200: #6abaf7;
    --theme-primary-300: #51aef6;
    --theme-primary-400: #39a3f4;
    --theme-primary-500: #2198F3;
    --theme-primary-600: #0d8cee;
    --theme-primary-700: #0c7ed5;
    --theme-primary-800: #0a70bd;
    --theme-primary-900: #0961a5;
    --theme-success-50: #95f15f;
    --theme-success-100: #86ef47;
    --theme-success-200: #76ed30;
    --theme-success-300: #67ea19;
    --theme-success-400: #5cd613;
    --theme-success-500: #52bf11;
    --theme-success-600: #48a80f;
    --theme-success-700: #3e900d;
    --theme-success-800: #34790b;
    --theme-success-900: #2a6109;
    --theme-info-50: #df95fa;
    --theme-info-100: #d87cf9;
    --theme-info-200: #d164f8;
    --theme-info-300: #ca4cf6;
    --theme-info-400: #c233f5;
    --theme-info-500: #BB1BF4;
    --theme-info-600: #b00bea;
    --theme-info-700: #9d0ad2;
    --theme-info-800: #8b09ba;
    --theme-info-900: #7908a1;
    --theme-warning-50: #ffd193;
    --theme-warning-100: #ffc679;
    --theme-warning-200: #ffbb60;
    --theme-warning-300: #ffb046;
    --theme-warning-400: #ffa52d;
    --theme-warning-500: #FF9A13;
    --theme-warning-600: #f98e00;
    --theme-warning-700: #df8000;
    --theme-warning-800: #c67100;
    --theme-warning-900: #ac6200;
    --theme-danger-50: #fe91aa;
    --theme-danger-100: #fd7897;
    --theme-danger-200: #fd5f83;
    --theme-danger-300: #fd4570;
    --theme-danger-400: #fc2c5c;
    --theme-danger-500: #FC1349;
    --theme-danger-600: #f2033b;
    --theme-danger-700: #d90334;
    --theme-danger-800: #c0022e;
    --theme-danger-900: #a70228;
    --theme-fusion-50: #7f8a95;
    --theme-fusion-100: #717d89;
    --theme-fusion-200: #66707b;
    --theme-fusion-300: #5a636d;
    --theme-fusion-400: #4f575f;
    --theme-fusion-500: #434a51;
    --theme-fusion-600: #383d43;
    --theme-fusion-700: #2c3136;
    --theme-fusion-800: #202428;
    --theme-fusion-900: #15171a;
}

.image-input-placeholder {
    background-image: url('../../assets/media/svg/avatars/blank.svg');
}

[data-bs-theme="dark"] .image-input-placeholder {
    background-image: url('../../assets/media/svg/avatars/blank-dark.svg');
}
.image-input-placeholder-car-front {
    background-image: url('../../assets/media/svg/avatars/blank_car_front.svg');
}

[data-bs-theme="dark"] .image-input-placeholder-car-front {
    background-image: url('../../assets/media/svg/avatars/blank_car_front.svg');
}

.image-input-placeholder-car-back {
    background-image: url('../../assets/media/svg/avatars/blank_car_back.svg');
}

[data-bs-theme="dark"] .image-input-placeholder-car-back {
    background-image: url('../../assets/media/svg/avatars/blank_car_back.svg');
}

.image-input-placeholder-car-left {
    background-image: url('../../assets/media/svg/avatars/blank_car_left.svg');
}

[data-bs-theme="dark"] .image-input-placeholder-car-left {
    background-image: url('../../assets/media/svg/avatars/blank_car_left.svg');
}

.image-input-placeholder-car-right {
    background-image: url('../../assets/media/svg/avatars/blank_car_right.svg');
}

[data-bs-theme="dark"] .image-input-placeholder-car-right {
    background-image: url('../../assets/media/svg/avatars/blank_car_right.svg');
}